:root {
    --main_color: #FFB796;
    --disabled: #cbcbcb;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter' !important;
}

.wrapper header {
    min-height: 90px;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper main {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("white-texture.png");
    background-size: cover;
}

.wrapper main .content-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.wrapper main .content-404 .left {
    margin-right: 200px;
}

.wrapper main .content-404 .left h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 14rem;
    line-height: 14rem;
    margin: unset;
}

.wrapper main .content-404 .left p {
    font-size: 33px;
    margin: unset;
}

.wrapper main .content-404 .left a {
    display: inline-block;
    text-decoration: none;
    margin-top: 40px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    background: #FED0AE;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.13);
    padding: 16px 100px;
    transition: .3s ease-in-out;
}

.wrapper main .content-404 .left a:hover {
    box-shadow: unset;
    background-color: #fdc8a1;
}

.wrapper main .content-404 .right {
    height: 80%;
}

.wrapper main .content-404 .right svg {
    height: 100%;
}

@media (max-width: 1280px) {
    .wrapper main .content-404 {
        max-width: 95%;
        margin: 0 auto;
    }

    .wrapper main .content-404 .left {
        margin-right: unset;
    }
}

@media (max-width: 1024px) {
    .wrapper main .content-404 .right {
        position: absolute;
        z-index: 0;
        opacity: 0.5;
        right: 10%;
    }

    .wrapper main .content-404 .left {
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 800px) {
    .wrapper main .content-404 .left {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .wrapper main .content-404 .left h1 {
        font-size: 12rem;
    }

    .wrapper main .content-404 .left p {
        font-size: 2rem;
    }
}

/* Login, register pages */
.wrapper main .login_register {
    width: 300px;
    background-color: white;
    padding: 40px 60px;
    box-shadow: 0px 0px 19px 6px rgba(34, 60, 80, 0.18);
}

.wrapper main .login_register .header {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.wrapper main .login_register .header a.active {
    background-color: var(--main_color);
}

.wrapper main .login_register .header a:hover {
    background-color: var(--main_color);
}

.wrapper main .login_register .input_row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.wrapper main .login_register .input_row label {
    display: inline-block;
    margin-bottom: 5px;
}

.wrapper main .login_register .input_row input:not([type='checkbox']) {
    display: block;
    width: 100%;
    padding: 10px;
    outline: unset;
    border: unset;
    background-color: transparent;
    border-bottom: 1px solid var(--main_color);
}

.wrapper main .login_register .input_row input:not([type='checkbox'])::placeholder {
    color: var(--disabled);
}

.wrapper main .login_register .input_row .submit{
    cursor: pointer;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: unset;
    outline: unset;
    font-size: 1rem;
    font-family: 'Inter';
}

.wrapper main .login_register .footer_links .row{
    margin-bottom: 10px;
}
.wrapper main .login_register .footer_links .row a{
    font-size: .9rem;
    text-decoration: none;
    color: black;
}
