* {
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #212026;
    overflow-x: hidden;
}

.ff-inter {
    font-family: 'Inter', sans-serif;
}

.ff-inter-light {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

:root {
    --main_color: #FFB796;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-main {
    color: var(--main_color);
}

.container {
    margin: 0 auto;
    max-width: 1813px;
}

@media (max-width: 1860px) {
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 25px;
    }
}

.user_rounded_avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--main_color);
    background-size: 106%;
    background-position: center;
}

.user_rounded_avatar.no_avatar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 64 64' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' id='User'%3E%3Ccircle cx='32' cy='32' fill='%23ffe0cd' r='31' data-original='%23e6ecff' class=''%3E%3C/circle%3E%3Cg fill='%234294ff'%3E%3Cpath d='m56.877 50.4748a31.0647 31.0647 0 0 0 -49.7651-.0156 30.9669 30.9669 0 0 0 49.7651.0156z' fill='%23ffb699' data-original='%234294ff' class=''%3E%3C/path%3E%3Ccircle cx='32' cy='22' r='12' fill='%23ffb699' data-original='%234294ff' class=''%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 5rem !important;
}

.mb-0 {
    margin-top: 0 !important;
}

.mb-1 {
    margin-top: 0.25rem !important;
}

.mb-2 {
    margin-top: 5rem !important;
}

.fw-b {
    font-weight: bold;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

/* Modals */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.modal[data-modal="auth"] .content {
    display: flex;
    background-color: white;
    padding: 130px 150px;
}

/* Age vefified window, not default modal */
.age_verified_window {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(43px);
}

.age_verified_window .content {
    display: flex;
    width: 1128px;
    height: 602px;
    background: #212026;
}

.age_verified_window .content .left {
    width: 45%;
    padding-top: 58px;
    padding-left: 69px;
}

.age_verified_window .content .left svg {
    margin-bottom: 115px;
}

.age_verified_window .content .left .confirm_age h2 {
    color: var(--main_color);
    font-size: 24px;
    font-weight: 500;
    margin: unset;
    margin-bottom: 21px;
}

.age_verified_window .content .left .confirm_age p {
    margin: unset;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin-bottom: 120px;
}

.age_verified_window .content .left .confirm_age_btn {
    display: inline-block;
    text-decoration: none;
    padding: 13px 96px;
    font-weight: 700;
    font-size: 18px;
    color: var(--main_color);
    border: 2px solid var(--main_color);
    border-radius: 7px;
    transition: .3s ease-in-out;
}

.age_verified_window .content .left .confirm_age_btn:hover {
    background-color: var(--main_color);
    color: white;
}

.age_verified_window .content .right {
    min-width: 55%;
    height: 100%;
    background-image: url("../images/age_verified/girl.png");
    background-size: cover;
}


/* Section Welcome */
section.welcome:not(.personal) {
    position: relative;
    height: calc(100vh + 100px);
    background-image: url("../images/welcome/background.png");
    padding-bottom: 200px;
}

section.welcome.personal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

section.welcome.personal .logo {
    font-size: 0;
}

section.welcome.personal .logo svg {
    width: 140px;
    height: auto;
}

section.welcome.personal .nav_menu ul {
    list-style: none;
    display: flex;
    margin: unset;
    padding: unset;
}

section.welcome.personal .nav_menu ul li {
    margin-right: 30px;
}

section.welcome.personal .nav_menu ul li:last-child {
    margin-right: unset;
}

section.welcome.personal .nav_menu ul li a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--main_color);
}

section.welcome.personal .nav_menu ul li a.active {
    color: white;
}

section.welcome .header .menu_burger {
    cursor: pointer;
    position: relative;
    width: 28px;
    height: 28px;
}

section.welcome .header .menu_burger span {
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 2px;
    background-color: var(--main_color);
}

section.welcome .header .menu_burger span:nth-child(1) {
    top: 6px;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
}

section.welcome .header .menu_burger span:nth-child(2) {
    top: 13px;
    transition: ease 0.3s 0.3s;
}

section.welcome .header .menu_burger span:nth-child(3) {
    top: 20px;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
}

section.welcome .header .menu_burger.active {
    /*transform: rotate( 45deg );*/
    transition: transform 0.3s ease 0.5s;
}

section.welcome .header .menu_burger.active span:nth-child(1) {
    top: 13px;
    transform: rotate(45deg);
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

section.welcome .header .menu_burger.active span:nth-child(2) {
    opacity: 0;
}

section.welcome .header .menu_burger.active span:nth-child(3) {
    top: 13px;
    transform: rotate(-45deg);
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

@keyframes mrotr {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        -ms-transform: translateY(0px) rotate(0);
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(15px) rotate(0);
        -ms-transform: translateY(15px) rotate(0);
        -webkit-transform: translateY(15px) rotate(0);
        transform: translateY(15px) rotate(0);
    }
    100% {
        -moz-transform: translateY(15px) rotate(45deg);
        -ms-transform: translateY(15px) rotate(45deg);
        -webkit-transform: translateY(15px) rotate(45deg);
        transform: translateY(15px) rotate(45deg);
    }
}

@keyframes mrotl {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        -ms-transform: translateY(0px) rotate(0);
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(-15px) rotate(0);
        -ms-transform: translateY(-15px) rotate(0);
        -webkit-transform: translateY(-15px) rotate(0);
        transform: translateY(-15px) rotate(0);
    }
    100% {
        -moz-transform: translateY(-15px) rotate(-45deg);
        -ms-transform: translateY(-15px) rotate(-45deg);
        -webkit-transform: translateY(-15px) rotate(-45deg);
        transform: translateY(-15px) rotate(-45deg);
    }
}

section.welcome .header .main_menu {
    display: none;
    position: absolute;
    width: 100%;
}

section.welcome .header .main_menu:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(246, 241, 237, 0.27);
    box-shadow: inset 0px 0px 27px rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(43px);
}

section.welcome .header .main_menu ul {
    position: relative;
    margin: unset;
    list-style: none;
    padding: 20px 0;
}

section.welcome .header .main_menu ul li {
    margin-right: 4vw;
}

section.welcome .header .main_menu ul li:last-child {
    margin-right: unset;
}

section.welcome .header .main_menu ul li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
    padding: 5px 10px;
}

section.welcome .header .main_menu ul li a.active {
    color: var(--main_color);
}

section.welcome .header > .container {
    height: 98px;
    background: rgba(33, 32, 38, 0.2);
    backdrop-filter: blur(5px);
}

section.welcome:not(.personal) .header .right_block {
    flex-basis: 33%;
}

section.welcome .header .right_block .search_and_city {
    width: 232px;
}

section.welcome .header .right_block .search_and_city input {
    color: var(--main_color);
    font-size: 12px;
    width: 76px;
    background-color: transparent;
    border: unset;
    border-bottom: 1px solid var(--main_color);
}

section.welcome .header .right_block .search_and_city input::placeholder {
    color: var(--main_color);
    text-transform: uppercase;
}

section.welcome .header .right_block .search_and_city input:focus {
    outline: unset;
}

section.welcome .header .right_block .search_and_city .city {
    font-weight: 300;
    font-size: 12px;
    color: var(--main_color);
}

section.welcome .header .right_block .account {
    position: relative;
}

section.welcome .header .right_block .account .login_link {
    text-decoration: none;
    color: var(--main_color);
}

section.welcome .header .right_block .account .user_menu_toggle {
    cursor: pointer;
}

section.welcome .header .right_block .account .user_menu_toggle.active + nav.user_menu {
    display: block;
}

section.welcome .header .right_block .account nav.user_menu {
    display: none;
    position: absolute;
    right: 0;
    background-image: url("../images/welcome/user_menu_bg.png");
    background: rgba(246, 241, 237, 0.27);
    box-shadow: inset 0px 0px 27px rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(43px);
}

section.welcome .header .right_block .account nav.user_menu ul {
    list-style: none;
    margin: unset;
    padding: 10px 30px;
}

section.welcome .header .right_block .account nav.user_menu ul li a,
section.welcome .header .right_block .account nav.user_menu ul li input {
    font-size: 1rem;
    user-select: none;
    background: transparent;
    border: unset;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: color .3s ease-in-out;
}

section.welcome .header .right_block .account nav.user_menu ul li a:hover,
section.welcome .header .right_block .account nav.user_menu ul li input:hover {
    color: var(--main_color);
}

section.welcome .header .right_block .account nav.user_menu ul li a.active {
    color: var(--main_color);
}

section.welcome .logo_container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(43px);
}

section.welcome .logo_container .logo {
    margin: 33px;
    width: 753px;
    height: 237px;
    border: 3px solid var(--main_color);
    background-image: url("../images/welcome/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

section.welcome .footer {
    margin: 40px auto;
}

section.welcome .footer h2 {
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

section.welcome .footer .tg_button {
    display: block;
    font-weight: 500;
    font-size: 27px;
    color: var(--main_color);
    margin: 0 auto;
    border: 1px solid var(--main_color);
    border-radius: 3px;
    padding: 3px 33px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

section.welcome .footer .tg_button:hover {
    background-color: var(--main_color);
    color: white;
}


/* Section Girls slider */
section.slider_after_main {
    position: relative;
    margin-top: -230px;
}

section.slider_after_main .social {
    display: flex;
    align-items: center;
}

section.slider_after_main .social span {
    margin-right: 9px;
}

section.slider_after_main .social a {
    display: block;
    margin-right: 9px;
    background-size: cover;
}

section.slider_after_main .social a.tg {
    display: block;
    width: 17px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15' fill='none'%3E%3Cpath d='M1.16833 6.52103C5.73157 4.53297 8.77426 3.22176 10.298 2.58898C14.6456 0.780369 15.5491 0.467128 16.1378 0.45611C16.2669 0.454536 16.5565 0.486017 16.7438 0.638703C16.9028 0.767777 16.9453 0.940925 16.9673 1.06213C16.9878 1.18333 17.0145 1.46194 16.9941 1.67759C16.758 4.15204 15.7395 10.1603 15.2201 12.9322C15.0013 14.1049 14.5684 14.4984 14.1497 14.5378C13.2399 14.6212 12.5505 13.9365 11.6706 13.3604C10.2932 12.4569 9.51407 11.8949 8.17768 11.0134C6.63194 9.99501 7.63463 9.43464 8.51454 8.5201C8.74435 8.28084 12.7504 4.63686 12.8275 4.30787C12.8369 4.26695 12.8464 4.11269 12.7551 4.03084C12.6638 3.94898 12.5284 3.97732 12.4308 3.99936C12.2923 4.03084 10.0918 5.48528 5.82759 8.36427C5.20268 8.79399 4.63759 9.00177 4.13073 8.99075C3.57194 8.97816 2.49685 8.67436 1.69721 8.41464C0.714992 8.0951 -0.0626017 7.92668 0.00508354 7.38519C0.0397132 7.10343 0.42851 6.81538 1.16833 6.52103Z' fill='white'/%3E%3C/svg%3E");
}

section.slider_after_main .header {
    max-width: 1200px;
    margin: 0 auto;
}

section.slider_after_main .girls_slider_nav a {
    cursor: pointer;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

section.slider_after_main .girls_slider_nav a span {
    display: inline-block;
    transition: transform .3s ease-in-out;
}

section.slider_after_main .girls_slider_nav a:hover {
    color: var(--main_color);
}

section.slider_after_main .girls_slider_nav .girls_slider__prev:hover span {
    transform: translateX(-3px);
}

section.slider_after_main .girls_slider_nav .girls_slider__next:hover span {
    transform: translateX(3px);
}

section.slider_after_main .girls_slider {
    margin: 40px 0;
}

section.slider_after_main .girls_slider .slick-list {
    margin: 0 -18px;
}

section.slider_after_main .girls_slider .slick-slide {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    margin: 0 20px;
}

section.slider_after_main .girls_slider .slick-slide img {
    width: 100%;
}

section.slider_after_main .girls_slider .slick-slide .name {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 43px;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 183, 150, 0.88);
    text-transform: uppercase;
}

/* Section girls_grid*/
section.girls_grid {
    padding: 0 50px;
    text-align: center;
}

section.girls_grid h2 {
    font-weight: 700;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.13em;
    color: white;
    margin-top: 53px;
    margin-bottom: 45px;
}

section.girls_grid h2 span {
    color: var(--main_color);
}

section.girls_grid .grid_toggle {
    text-align: center;
    margin-bottom: 28px;
    color: white;
}

section.girls_grid .grid_toggle span {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13em;
    color: white;
    cursor: pointer;
}

section.girls_grid .grid_toggle span.active {
    color: var(--main_color);
    cursor: default;
}

section.girls_grid .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
}

section.girls_grid .grid.small {
    grid-template-rows: repeat(1, 1fr);
}

section.girls_grid .grid .grid-item {
    position: relative;
    grid-row: span 1;
    border-radius: 7px;
    overflow: hidden;
    height: 20vw;
    background-size: cover;
    background-position: center;
}

section.girls_grid .grid .grid-item.no-photo {
    background-image: url("data:image/svg+xml,%3Csvg width='150' height='250px' viewBox='0 0 327 823' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M309.619 823C324.784 817.513 324.632 817.513 324.86 800.215C324.936 793.204 326.308 786.194 326.003 779.183C325.394 765.847 324.022 752.588 323.108 739.252C322.955 736.509 323.489 733.689 323.641 730.946C323.87 726.983 325.317 723.173 320.745 719.973C318.916 718.677 318.611 714.333 318.688 711.362C319.221 689.948 319.755 668.535 320.745 647.198C321.66 627.309 318.535 607.953 314.725 588.521C313.277 580.977 312.439 573.204 312.287 565.584C311.982 546.838 312.591 528.092 312.058 509.346C311.144 473.454 309.619 437.485 308.629 401.594C308.476 395.192 310.458 388.791 310.763 382.39C311.448 369.74 312.515 357.014 311.829 344.365C310.915 328.133 308.324 311.978 306.724 295.747C304.133 269.38 301.77 242.937 299.332 217.409C299.865 218.705 300.856 220.915 302.151 223.886C302.609 222.439 302.914 221.524 303.599 219.314C304.59 220.991 305.352 222.21 306.495 224.115C307.181 222.972 307.638 222.439 307.791 221.905C309.162 214.894 311.677 207.96 307.943 200.797C306.266 197.672 307.257 197.52 309.315 191.348C310.153 188.909 308.4 185.708 307.867 182.813C306.495 174.583 305.123 166.429 304.514 157.894C305.352 159.647 306.266 161.399 307.105 163.152C307.486 163.076 307.867 162.924 308.324 162.847C307.029 155.76 305.733 148.597 304.438 141.51C304.666 141.434 304.819 141.358 305.047 141.282C305.962 142.958 306.876 144.635 307.867 146.692C305.733 130.613 303.599 114.839 301.542 99.0648C302.532 98.9124 303.599 98.76 304.59 98.6076C304.895 101.275 305.2 104.018 305.657 107.6C310.534 102.646 315.563 98.0742 319.831 92.8923C325.089 86.5674 324.555 79.4043 318.002 74.451C309.848 68.2785 305.733 59.5913 301.999 50.7517C297.274 39.6259 290.569 29.9481 282.262 21.4132C279.519 18.5937 275.328 17.2982 271.746 15.3169C267.707 13.107 263.135 11.4306 259.706 8.45861C252.771 2.59093 244.313 2.51472 236.311 1.60028C227.777 0.60963 218.937 1.44787 210.25 1.21926C208.116 1.14306 206.059 0.381019 204.001 0C195.314 0 186.627 0 177.939 0C175.425 0.457222 172.834 1.29546 170.319 1.21926C141.59 0.0762037 113.471 5.25806 85.2758 9.29685C72.7784 11.1257 70.2636 20.2702 72.9307 28.9574C77.8078 44.6554 82.9896 60.3533 89.1621 75.5941C96.6301 93.9592 105.165 111.943 113.471 130.004C115.224 133.89 117.586 137.624 120.329 140.901C127.874 149.816 129.169 160.866 130.998 171.611C131.303 173.287 128.636 175.573 127.112 177.326C122.311 182.736 116.672 187.614 112.709 193.557C104.708 205.674 106.079 229.221 116.214 240.118C121.777 246.138 124.063 252.539 126.273 259.931C132.674 281.115 140.447 301.919 146.62 323.18C152.64 343.831 156.602 364.863 156.145 386.581C155.917 397.326 148.753 404.032 143.114 411.271C124.749 434.971 109.432 460.423 96.8587 487.551C88.6287 505.383 80.7035 523.291 68.9681 539.294C62.186 548.59 64.0149 560.097 65.3866 570.385C67.9013 589.359 65.8438 607.877 62.9481 626.471C62.0336 632.262 61.7288 638.13 61.3478 643.997C60.3571 663.048 60.1285 682.099 58.2234 700.998C57.3852 709.152 52.9654 716.924 50.7555 725.002C48.2408 734.146 46.4881 743.443 44.2782 752.664C41.1538 765.542 38.0294 778.497 34.7527 791.375C32.6952 799.682 23.4745 807.15 14.8635 807.835C4.27121 808.674 -0.148621 812.103 0.00378418 821.324C16.4638 820.562 33 820.409 49.3076 818.656C57.2328 817.818 62.7957 812.027 65.0056 803.644C67.3679 794.652 72.4735 787.26 80.7797 781.393C87.4094 795.033 83.7517 809.207 84.7423 822.924C87.0284 822.924 89.3145 822.924 91.6006 822.924C90.8386 804.102 93.4295 786.041 101.736 768.819C103.717 764.78 103.184 758.608 101.66 754.112C99.6783 748.092 95.6395 742.681 92.8199 737.652C94.725 734.68 96.6301 731.86 98.5352 728.965C95.1823 727.364 91.7531 725.84 87.7143 723.935C87.7143 723.783 87.4857 722.64 87.7905 721.573C92.2103 706.637 96.6301 691.777 101.202 676.917C105.013 664.496 110.88 652.304 112.48 639.654C114.614 621.975 113.166 603.914 114.081 586.083C114.386 579.224 115.224 571.375 118.805 565.965C128.788 550.953 138.999 535.712 151.573 523.062C169.481 504.926 185.788 485.875 198.362 463.623C205.449 451.05 216.575 442.21 227.243 432.532C228.234 434.132 228.92 434.818 229.225 435.657C234.635 451.202 240.122 466.748 245.38 482.369C247.285 488.085 248.809 494.029 250.028 499.972C253.838 518.719 256.124 537.922 261.535 556.135C267.784 577.014 271.822 598.123 274.185 619.612C276.09 636.834 279.367 653.675 284.091 670.44C288.892 687.434 292.855 704.96 294.379 722.564C295.522 735.442 292.093 748.701 290.721 761.808C290.264 765.847 289.654 769.81 289.425 773.849C288.816 784.974 288.892 796.1 287.825 807.15C287.139 813.779 288.282 818.961 293.54 823C298.646 823 304.133 823 309.619 823ZM184.95 45.5698C182.664 48.5418 180.683 50.9041 179.006 53.3426C177.101 56.0859 175.653 59.1341 173.52 61.6488C167.042 69.2692 165.518 72.4697 176.568 80.9283C185.255 87.5581 191.351 94.7212 189.065 106.533C188.379 110.038 189.599 114.001 188.837 117.43C187.846 121.85 185.865 129.47 184.112 129.546C178.778 129.699 171.919 128.403 168.109 124.974C157.669 115.525 148.372 104.78 138.847 94.4164C137.094 92.5113 136.027 89.9204 134.961 87.4819C133.208 83.5955 132.141 79.4043 130.084 75.6703C125.588 67.5927 120.558 59.7437 116.062 51.6661C113.395 46.9415 114.462 42.9789 119.796 40.5404C124.292 38.4829 128.559 35.5871 133.208 34.2155C150.125 29.4146 167.119 24.5376 184.341 20.8036C193.637 18.8223 202.553 21.9467 210.021 28.1954C206.592 35.0537 206.059 35.3585 199.734 35.5871C196.152 35.7395 192.418 35.5109 188.913 36.3492C180.683 38.5591 180.607 39.0163 184.95 45.5698ZM280.891 312.892C259.249 293.689 255.362 295.442 247.361 278.448C242.027 267.018 248.885 247.357 261.078 242.175C267.631 265.722 274.261 289.193 280.891 312.892ZM309.086 100.665C307.029 94.8736 304.742 89.768 303.523 84.4337C302.075 78.2612 301.618 71.9363 300.475 63.8587C305.581 68.1261 308.781 71.0219 312.134 73.6128C320.364 80.0139 321.279 85.8054 314.954 94.1116C312.972 96.7025 310.534 99.0648 309.086 100.665Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
    background-color: #ffb79696;
    background-size: 80%;
    background-repeat: no-repeat;
}

section.girls_grid .grid .grid-item h3 {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 183, 150, 0.88);
    text-transform: uppercase;
    margin: unset;
    position: absolute;
    width: 100%;
    bottom: 5px;
    transition: .3s ease-in-out;
}

section.girls_grid .grid .grid-item:hover h3 {
    transform: translateY(-100px);
}

section.girls_grid .grid .grid-item .girl_data {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(33 32 38 / 18%);
    backdrop-filter: blur(13px);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

section.girls_grid .grid .grid-item:hover .girl_data {
    bottom: 0;
}

section.girls_grid .grid .grid-item .girl_data .header {
    display: flex;
    margin-bottom: 3px;
}

section.girls_grid .grid .grid-item .girl_data .header > div {
    display: flex;
    flex-wrap: wrap;
}

section.girls_grid .grid .grid-item .girl_data .header > div span {
    flex-basis: 100%;
    text-align: center;
}

section.girls_grid .grid .grid-item .girl_data .header > div span:nth-child(1) {
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    color: var(--main_color);
}

section.girls_grid .grid .grid-item .girl_data .header > div span:nth-child(2) {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: white;
}

section.girls_grid .grid .grid-item .girl_data .price {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--main_color);
    text-align: center;
}

section.girls_grid .grid .grid-item .girl_data a {
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: var(--main_color);
    transition: .3s ease-in-out;
}

section.girls_grid .grid .grid-item .girl_data a:hover {
    color: white;
}

@media (max-width: 1480px) {
    section.girls_grid .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    section.girls_grid .grid .grid-item {
        height: 30vw;
    }

    section.girls_grid .grid .grid-item h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    section.girls_grid h2 {
        font-size: 1.5rem;
        line-height: unset;
        margin: 30px 0;
    }

    section.girls_grid {
        padding: 0 25px;
    }

    section.girls_grid .grid .grid-item {
        height: 40vw;
    }

    section.girls_grid .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    section.girls_grid .grid .grid-item h3 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    section.girls_grid h2 {
        font-size: 1.2rem;
    }

    section.girls_grid .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    section.girls_grid .grid .grid-item {
        height: 60vw;
    }

    section.girls_grid .grid .grid-item h3 {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    section.girls_grid h2 {
        font-size: 1rem;
    }
}

section.girls_grid .show_all {
    display: inline-block;
    margin: 80px auto;
    font-weight: 500;
    font-size: 13px;
    color: white;
    background-color: var(--main_color);
    transition: .3s ease-in-out;
    padding: 14px 52px;
    text-decoration: none;
    border-radius: 3px;
}

section.girls_grid .show_all:hover {
    background-color: white;
    color: var(--main_color);
}

section.girls_grid .pagination {
    padding: unset;
    margin-top: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

section.girls_grid .pagination .page-item .page-link {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--main_color);
    background-color: white;
    font-family: 'Inter', sans-serif;
}

section.girls_grid .pagination .page-item:first-child .page-link {
    border-radius: 5px 0 0 5px;
}

section.girls_grid .pagination .page-item:last-child .page-link {
    border-radius: 0 5px 5px 0;
}

section.girls_grid .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

section.girls_grid .pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--main_color);
    border-color: white;
}

@media(max-width: 768px){
    section.girls_grid .pagination li:nth-child(9),
    section.girls_grid .pagination li:nth-child(10),
    section.girls_grid .pagination li:nth-child(11){
        display: none;
    }
}

@media(max-width: 480px){
    section.girls_grid .pagination li:nth-child(8),
    section.girls_grid .pagination li:nth-child(7){
        display: none;
    }
}

@media(max-width: 380px){
    section.girls_grid .pagination li:nth-child(6),
    section.girls_grid .pagination li:nth-child(13){
        display: none;
    }
}


/* SECTION statistic */
section.statistic {
    position: relative;
    margin-top: 70px;
}

section.statistic .item {
    position: relative;
    z-index: 2;
}

section.statistic .item:first-child {
    margin-right: 200px;
}

section.statistic .item h3 {
    font-weight: 700;
    font-size: 43px;
    color: white;
    margin: unset;
    text-align: center;
}

section.statistic .item h3 span {
    color: var(--main_color);
}

section.statistic .item > span {
    font-weight: 700;
    font-size: 23px;
    color: white;
    text-align: center;
}

section.statistic:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: -150px;
    width: 100%;
    height: 528px;
    display: block;
    background: linear-gradient(180deg, rgba(33, 32, 38, 0) 0%, #212026 44.27%);
    transform: rotate(-180deg);
}

/* SECTION about_service*/
section.about_service {
    min-height: 120vh;
    position: relative;
    padding-top: 220px;
    background-image: url("../images/about_service/background.png");
}

section.about_service > div {
    min-width: 50%;
}

section.about_service .right h2 {
    margin: unset;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 43px;
    color: var(--main_color);
    text-align: center;
}

section.about_service .right .content .item {
    max-width: 640px;
    color: white;
}

section.about_service .right .content .item:first-child {
    margin-bottom: 200px;
}

section.about_service .right .content .item h3 {
    margin: unset;
    font-weight: 700;
    font-size: 33px;
}

section.about_service .right .content .item p {
    margin: 20px 0;
}


/* PERSONAL PAGES SECTIONS */
section.personal_breadcrumbs {
    margin-top: 100px;
}

section.personal_breadcrumbs ul {
    list-style: none;
    margin: 10px 0;
    padding: unset;
    display: flex;
}

section.personal_breadcrumbs ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 15px;
}

section.personal_breadcrumbs ul li:after {
    position: absolute;
    right: -10px;
    content: '>';
    color: var(--main_color);
    font-size: .6rem;
}

section.personal_breadcrumbs ul li:last-child {
    margin-right: unset;
}

section.personal_breadcrumbs ul li:last-child:after {
    display: none;
}

section.personal_breadcrumbs ul li a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--main_color);
    font-size: .8rem;
}

section.personal_breadcrumbs ul li a.active {
    color: white;
}


/* section profile_edit */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

section.profile_edit {
    height: calc(100vh - 140px);
}

section.profile_edit form {
    max-width: 500px;
    padding: 40px;
    background: white;
    box-shadow: 0px 0px 53px rgb(0 0 0 / 77%);
    border-radius: 7px;
}

section.profile_edit #mediaFile {
    position: absolute;
    top: -1000px;
}

section.profile_edit #profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    cursor: pointer;
    background: #f4f4f4;
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 64 64' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' id='User'%3E%3Ccircle cx='32' cy='32' fill='%23ffe0cd' r='31' data-original='%23e6ecff' class=''%3E%3C/circle%3E%3Cg fill='%234294ff'%3E%3Cpath d='m56.877 50.4748a31.0647 31.0647 0 0 0 -49.7651-.0156 30.9669 30.9669 0 0 0 49.7651.0156z' fill='%23ffb699' data-original='%234294ff' class=''%3E%3C/path%3E%3Ccircle cx='32' cy='22' r='12' fill='%23ffb699' data-original='%234294ff' class=''%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section.profile_edit #profile label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
    color: #a1a1a1;
    opacity: 1;
    transition: .3s ease-in-out;
    cursor: pointer;
}

section.profile_edit #profile.hasImage label {
    opacity: 0;
    color: white;
}

section.profile_edit #profile.hasImage:hover label {
    opacity: 1;
}

section.profile_edit .block_fio {
    display: flex;
    margin: 20px 0;
}

section.profile_edit .block_fio input {
    border: unset;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 1px;
    flex-basis: 50%;
    max-width: 50%;
    padding: 5px;
    border-bottom: 1px solid transparent;
}

section.profile_edit .block_fio input.error {
    border-color: red !important;
}

section.profile_edit .block_fio input::placeholder {
    color: #ebebeb;
}

section.profile_edit .block_fio input:first-child {
    text-align: right;
}

section.profile_edit .block_fio input:focus,
section.profile_edit .block_fio input:focus-visible,
section.profile_edit .block_fio input:active {
    border-color: #ebebeb;
    outline: unset;
}

section.profile_edit .block_contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

section.profile_edit .block_contacts .input_row {
    position: relative;
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
}

section.profile_edit .block_contacts .input_row input {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 5px;
    border: unset;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
    max-width: 100%;
}

section.profile_edit .block_contacts .input_row input:focus,
section.profile_edit .block_contacts .input_row input:focus-visible,
section.profile_edit .block_contacts .input_row input:active {
    outline: unset;
    border-color: black;
}

section.profile_edit .block_errors {
    font-size: .8rem;
    color: red;
}

section.profile_edit .block_errors li {
    line-height: 1.2rem;
}

section.profile_edit .block_errors li span {
    width: 60px;
    display: inline-block;
}

section.profile_edit .block_stat {
    display: flex;
}


section.profile_edit h1 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 1px;
}

section.profile_edit .stat {
    width: 50%;
    text-align: center;
    float: left;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

section.profile_edit .stat .label {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

section.profile_edit .stat .num {
    font-family: 'Inter', sans-serif;
    padding: 3px 0;
    font-weight: 300;
    font-size: 1rem;
}

section.profile_edit .editable {
    position: relative;
}

section.profile_edit .editable i {
    position: absolute;
    top: 10px;
    right: -20px;
    opacity: 0.3;
}

section.profile_edit .profile-footer {
    text-align: center;
}

section.profile_edit .profile-footer button {
    display: block;
    width: 100%;
    border: 1px solid var(--main_color);
    outline: unset;
    font-weight: 500;
    font-size: 13px;
    color: white;
    background-color: var(--main_color);
    transition: .3s ease-in-out;
    padding: 14px 52px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
}

section.profile_edit .profile-footer button:hover {
    background-color: white;
    color: var(--main_color);
}
